name: Next Build

on: 
  push:
    branches: [main]

jobs:
  test_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 18.12.0
      - uses: pnpm/action-setup@v2.2.4
        with: 
          version: 7.26.1
          run_install: true
      - run: pnpm build
      
        
